<table
  id="products-table"
  class="border-8 border-r-4 border-solid border-nav bg-nav"
>
  <thead>
    <th class="border-2 border-solid border-nav px-2 py-3 text-left">Id</th>
    <th class="border-2 border-solid border-nav px-2 py-3 text-left">Name</th>
    <th
      class="product-descriptions border-2 border-solid border-nav px-2 py-3 text-left"
    >
      Beschreibung
    </th>
    <th class="border-2 border-solid border-nav px-2 py-3 text-left">Preis</th>
    <th class="border-2 border-solid border-nav px-2 py-3 text-left">
      Aktionen
    </th>
  </thead>
  <tr>
    <th class=""></th>
  </tr>
</table>
